<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/avatar.css" />
    <title>Monsters Party</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <div class="header">Avatar</div>
        <div class="avatar_cont"></div>
      </div>
      <a href="./main.html" class="button block">NEXT</a>
      <div class="volume_cont block">
        <img src="../png/volume_on.png" alt="volume" class="volume" />
      </div>
    </div>
    <script src="../scripts/avatar.js"></script>
  </body>
</html>
