<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Monsters Party</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="warning">
        <div class="header"></div>
        <div class="amount_money_cont">
          <img src="../png/currency.png" alt="money" />
          <div class="amount_money"></div>
        </div>
        <div class="bottom">
          <div class="again block">RETRY</div>
          <a href="./main.html" class="menu block">MENU</a>
        </div>
      </div>

      <div class="earned_cont">
        <img src="../png/currency.png" alt="money" />
        <div class="earned">0</div>
      </div>

      <a href="./main.html" class="home">
        <img src="../png/next.png" alt="home" />
      </a>

      <div class="avatar block">
        <div class="avatar_name"></div>
      </div>
      <div class="balance_field"></div>

      <div class="control">
        <div>time</div>
        <div class="time">60</div>
        <div class="level"></div>
      </div>

      <div class="chosen block"></div>

      <div class="volume_cont block">
        <img src="../png/volume_on.png" alt="volume" class="volume" />
      </div>
    </div>
    <script src="../scripts/game.js" type="module"></script>
  </body>
</html>
