@font-face {
  font-family: "Inter";
  src: url("../Inter-V.ttf");
}

body {
  background-image: url("../png/back.png");
  background-size: cover;
  height: 100vh;
  min-height: 360px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  background-image: url("../png/circle.png");
  background-size: 100%;
  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
}

.avatar_name {
  position: absolute;
  left: 50%;
  top: 0;
  white-space: nowrap;
  font-size: 2.2vw;
  transform: translate(-50%, 0);

  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.balance_field {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 20%;
  height: 10%;

  font-size: 2.5vw;

  background-color: #232323;
  border: solid 4px #eeda00;
}

.balance_field img {
  max-height: 100%;
}

.balance {
  transition: color 0.5s ease;
}

.volume_cont {
  position: absolute;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: #eeda00;
}

.volume {
  max-height: 90%;
  max-width: 90%;
}
